@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
  background-color: #EEE;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a, .btn-link {
  color: #333;
}